{% extends './base.html' %}
{% load static %}
{% block title %}{{ post.title }}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <nav aria-label="breadcrumb" class="mt-4">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ news.title }}</li>
                </ol>
            </nav>
            <img class="img-fluid rounded " src="{{ news.image.url }}" alt="">
            <hr>
            <p class="lead">
            {{ news.content|safe }}
            </p>
            <p class="lead">
            {{ news.category }}
            </p>
            <hr>
            <p class="lead text-right">Автор: {{ news.author }}</p>
            <hr>
            <p class="text-right">Опубликовано {{ news.created_at }}</p>
            <hr>
        </div>

    </div>
</div>
</div>

{% if user != news.user and user.is_authenticated %}
<p></p>
<form method="POST">
    {% csrf_token %}
    {{ form }}
    <p></p>
    <input type="submit" value="Откликнуться">
</form>
{% endif %}
<h2 style="text-align: left;">Отклики</h2>



{% for comment in news.comments.all %}
<div class="media mb-4">
    <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
    <div class="media-body">
        <h5 class="mt-0">{{comment.user}}</h5>
        {{comment.text}}
    </div>
</div>
{% endfor %}
{% endblock content %}